[defaults]
inventory          = inventory.ini
roles_path         = roles
host_key_checking  = False
forks              = 1
gathering          = smart
fact_caching       = jsonfile
fact_caching_connection = .ansible_facts_cache
fact_caching_timeout = 3600
stdout_callback    = default
bin_ansible_callbacks = True
nocows             = 1
retry_files_enabled = False
interpreter_python = /usr/bin/python3

[privilege_escalation]
become             = True
become_method      = sudo
become_ask_pass    = False

[ssh_connection]
pipelining         = True
